<div role="navigation" id="foo" class="nav-collapse">
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/account">Account</a></li>
        <li><a href="#/about">About</a></li>
        <hr>
        <li style="right: 0"><a href="#/" style="font-size: 10px;margin-left: 70%;">Login Out</a></li>

    </ul>
</div>

<div role="main" class="main" style="min-height: 100vh;">
    <a href="#nav" class="nav-toggle">Menu</a>
    <h3 style="font-size: 25px">About Us</h3>
</div>

<script>
    var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
</script>
