
<div role="navigation" id="foo" class="nav-collapse">
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/transfer" ng-click="queryTransfer()">Transfer</a></li>
        <li><a href="#/account">Account</a></li>
        <li><a href="#/about">About</a></li>

        <hr>
        <li style="right: 0"><a href="#/" style="font-size: 10px;margin-left: 70%;">Login Out</a></li>

    </ul>
</div>

<div role="main" class="main" style="min-height: 100vh;">
    <a href="#nav" class="nav-toggle">Menu</a>
    <h3 style="font-size: 25px">Account</h3>


    <div class="show-top-grids" >
        <h5 style="float: left">{{globalemail}}</h5>
        <div style="float: right;margin-top: -35px">
            <button class="button button-glow button-border button-rounded button-primary ng-binding" ng-model="click"  data-toggle="modal" data-target="#add-camera-modal">Open Account</button>
        </div>
        <div class="clearfix"></div>
        <hr>

        <div style="clear: both;">
            <div class="row" style="margin-top: 30%">

                <div style="text-align: center">Open account means open the account to public.</div>
                <div style="text-align: center">If you want to open account, please click <label ng-model="click"  data-toggle="modal" data-target="#add-camera-modal">'Open Account'</label></div>

            </div>
        </div>

        <form name="form" ng-submit="createAccount()" role="form" >
            <div class="modal fade" id="add-camera-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title" id="exampleModalLabel">Create open account</h3>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="coinNo">Number of coin</label>
                                <input type='text' class="form-control" name="coinNo"  id='coinNo' required/>
                            </div>
                            <div class="form-group">
                                <label for="account-description">Description</label>
                                <input type='text' class="form-control" name="account-description" id='account-description' required/>
                            </div>
                            <button type="submit" class="btn btn-warning ng-pristine ng-untouched ng-valid ng-empty">Add</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>
</div>

<script>
    var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
</script>


<style>

</style>
